<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
<form action="/detail" method="POST" enctype="multipart/form-data">
    <h1>User Detail</h1>
        <h2>Username: <%=detail.Username%></h2>
        <h2>Fathername: <%=detail.Fathername%></h2>
        <h2>Email: <%=detail.Email%></h2>
        
        <h2>Password: <%=detail.Password%></h2><br>

        <!-- <h2>Details are added successfully</h2> -->
        <button type="submit"class="btn">edit</button>
        
</body>

</html>
