<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body class="container">
    <main>
    
        
<form action ='/delete/id' method="POST">
                  
            <% for (let user of users) { %>

             <h1>Username:<%= user.Username %></h1>
           <h1>Fathername:<%= user.Fathername %></h1>
         <h1>Email:<%= user.Email %></h1>
        <h1>Password:<%= user.Password %></h1><br>
        <button type="submit"class="btn">delete</button>
        <button type="submit"class="btn">Mail</button>
         
         
                
            <%} %>
        
            </main>
</body>
</html>
    

