<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action=users method="POST">

       
            <h2>Username</h2>
            <form action='/login' method="POST">
     
         
            <input type="text"  name="Username" placeholder="Enter Username" name="Title" autocomplete="off" required >
              
              </br>
              <h2>Password</h2>
              <input type="Password"  name="Password" placeholder="Enter Password" name="Title" autocomplete="off" required >
              <button type="submit"class="btn">login</button>
        

    </form>
</body>
</html>
       
